# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.a
*.so
*.so.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore bin folder
/bin
/Debug
/Release

# Ignore Eclipse project files
.project
.cproject
.settings/*

# Visual studio stuff
*.aps
*.idb
*.ipch
*.lastbuildstate
*.log
*.manifest
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.db
*.opendb
*.tmp

# Visual Studio folders
/VisualStudio/.vs
/VisualStudio/Debug
/VisualStudio/Release
/VisualStudio/packages
/VisualStudio/AirspaceConverter/Debug
/VisualStudio/AirspaceConverter/Release
/VisualStudio/AirspaceConverter/x64


