#============================================================================
# AirspaceConverter
# Since       : 14/6/2016
# Author      : Alberto Realis-Luc <alberto.realisluc@gmail.com>
# Web         : http://www.alus.it/AirspaceConverter
# Repository  : https://github.com/alus-it/AirspaceConverter.git
# Copyright   : (C) 2016-2017 Alberto Realis-Luc
# License     : GNU GPL v3
#
# This source file is part of AirspaceConverter project
#============================================================================

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.a
*.so
*.so.*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Installation files
*.deb
*.msi

# Ignore bin and build folders
/bin
/Debug
/Release
*/Debug
*/Release
*/*/Debug
*/*/Release
build-*

# Ignore Eclipse project files
.project
.cproject
.settings/*

# Visual studio stuff
/VisualStudio/.vs
/VisualStudio/packages
/VisualStudio/ipch
*.aps
*.idb
*.ipch
*.lastbuildstate
*.log
*.manifest
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.db
*.opendb
*.tmp
*.cache

# QT stuff
*.user
*.pro.user.*
