<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>AirspaceConverter</string>
	<key>CFBundleExecutable</key>
	<string>airspaceconverter-gui</string>
	<key>CFBundleIdentifier</key>
	<string>it.alus.airspaceconverter</string>
	<key>CFBundleIconFile</key>
	<string>AirspaceConverter.icns</string>
	<key>CFBundleVersion</key>
	<string>0.3.5</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.6</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by makeApp.sh script by Alberto Realis-Luc</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright© 2016-2021 Alberto Realis-Luc. All rights reserved. alus.it/AirspaceConverter</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>	
</dict>
</plist>
